* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about-us {
  display: flex;
  min-height: 720px;
  overflow: hidden;
}

.about-us__image {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: #fff;
  justify-content: center;
}

.about-us__image > div {
  padding: 32px 64px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__sushi3 {
  background-image: url("../../assets/about_bg1.png");
  border-bottom: 8px solid var(--color-creamson);
}
.about-us__sushi2 {
  background-image: url("../../assets/about_bg2.png");
}

.about-us__sushi3 img {
  width: 225px;
  height: 200px;
}

.about-us__sushi2 img {
  width: 240px;
  height: 160px;
}

.about-us__button {
  position: absolute;
  right: 0;
  border-radius: 36px 0 0 36px;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  min-height: 64px;
  gap: 15px;
  background-color: var(--secondary-color);
  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  line-height: 23px;
}
.about-us__button > img {
  object-fit: contain;
  margin-left: 32px;
}
.about-us__content {
  flex: 1.06;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.about-us__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--primary-color);
  opacity: 0.8;
  letter-spacing: -0.01em;
}

.about-us__title {
  font-size: 64px;
  font-weight: 600;
  font-family: var(--playfair-display);
  color: var(--secondary-color);
  margin-top: 16px;
}

.about-us__description {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--secondary-color);
  opacity: 0.8;
  margin: 32px 0;
}
